In [1]:
#if

In [2]:
if True:
    print("True")

True

In [3]:
if False:
    print("False")

In [4]:
if 2<5:
    print("2가 5보다 작다.")

2가 5보다 작다.

In [5]:
a = 15
b = 10

if a < b:
    print("a가 b보다 작다.")
else:
    print("a가 b보다 크다.")

a가 b보다 크다.

In [6]:
a = 15
b = 10

if a < b:
    print("a({a})가 b({b})보다 작다.".format(a=a, b=b))
else:
    print("a({a})가 b({b})보다 크다.".format(a=a, b=b))

a(15)가 b(10)보다 크다.

In [7]:
maven = ["조용환", "이종휘", "박경두"]

In [8]:
"박경두" in maven

True

In [9]:
if "이종휘" in maven:
    print("이종휘는 메이븐 멤버입니다.")
else:
    print("이종휘는 메이븐 멤버가 아닙니다.")

이종휘는 메이븐 멤버입니다.

In [10]:
# 90점 이상이면 A
# 60~ 90점이면 B
# 60점 미만 C

score = 85

if score >= 90:
    print("A")
elif score >= 60:
    print("B")
else:
    print("C")

B

In [11]:
# While, For

In [13]:
age = 20

while age < 30:
    print("20대에 나이를 먹었습니다. 현재나이: {age}".format(age=age))
    age += 1

20대에 나이를 먹었습니다. 현재나이: 20
20대에 나이를 먹었습니다. 현재나이: 21
20대에 나이를 먹었습니다. 현재나이: 22
20대에 나이를 먹었습니다. 현재나이: 23
20대에 나이를 먹었습니다. 현재나이: 24
20대에 나이를 먹었습니다. 현재나이: 25
20대에 나이를 먹었습니다. 현재나이: 26
20대에 나이를 먹었습니다. 현재나이: 27
20대에 나이를 먹었습니다. 현재나이: 28
20대에 나이를 먹었습니다. 현재나이: 29

In [14]:
# for

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
maven = ["조용환", "이종휘", "박경두", "박성민"]

for person in maven:
    print("저는 메이븐 소속 {person}입니다.".format(person=person))

저는 메이븐 소속 조용환입니다.
저는 메이븐 소속 이종휘입니다.
저는 메이븐 소속 박경두입니다.
저는 메이븐 소속 박성민입니다.

In [21]:
for number in range(10):
    print("Hello world {number}".format(number=number))

Hello world 0
Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9

In [22]:
for _ in range(10):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world