## 1강
- 자료형 (Data Type)
    - 숫자, 문자, 리스트, 튜플, 딕셔너리, 셋, ...
- 자료 구조 (Data Structure)
    - 배열, 집합, 키-값

## 자료형 (Data Type)
- Number : 정수, 실수, 복소수, 8진수, 16진수 등
- String
- List, Tuple, Dict, Set
- Boolean

In [1]:
a = 3
# a라는 변수에 3이라는 값을 넣음

In [2]:
b = 14

In [4]:
a + b
# 숫자 연산이 쉽게 됨

17

In [6]:
a?
# ?로 모든 함수나 변수들에 대해 정보를 볼 수 있다.

In [7]:
type(a)
# type()로 변수에 대한 Type 만 알 수 있다.

int

In [8]:
a = 3.0

In [10]:
type(a)
# python이 자동적으로 변수의 type 을 추적

float

In [11]:
int(a)
# int() 를 통해 변수를 int type 으로 변경 가능하다.

3

In [13]:
a = int(a)

roomSize : camelcase

room_size : underline

In [14]:
a = 24

In [15]:
a = a + 1

In [16]:
a

25

In [17]:
a += 1

In [18]:
a * a

676

In [19]:
a * a * a

17576

In [20]:
a ** 2 # 제곱

676

In [21]:
a ** 3 # 세제곱

17576

In [22]:
14 / 3

4.666666666666667

In [23]:
14 % 3 
# 나머지 출력

2

## 문자열

In [24]:
name = "조용환"

In [25]:
name + "님 안녕하세요"

'조용환님 안녕하세요'

In [26]:
name[0]

'조'

In [27]:
name[1:]

'용환'

In [28]:
"%s님 안녕하세요" % "조용환"

'조용환님 안녕하세요'

In [29]:
"{0}님 안녕하세요.".format("조용환")

'조용환님 안녕하세요.'

In [30]:
"{name}님 안녕하세요.".format(name="조용환")

'조용환님 안녕하세요.'

In [31]:
"안녕하세요. {name} 입니다. 저는 {course} 를 수강하고 있습니다.".format(name="조용환",course = "데사스")

'안녕하세요. 조용환 입니다. 저는 데사스 를 수강하고 있습니다.'

## List, Tuple, Dict, Set

### List => 순서가 있는 요소들, 변경 가능

In [32]:
animals = ["강아지", "고양이", "이구아나"]

In [33]:
animals

['강아지', '고양이', '이구아나']

In [34]:
animals[0]

'강아지'

In [37]:
animals.append("물고기")

In [40]:
len(animals) # list 요소 개수 출력

4

In [41]:
animals.pop(1) # 인덱스에 있는 값을 list 에서 뽑아냄

'고양이'

In [42]:
animals

['강아지', '이구아나', '물고기']

In [43]:
animals[1] = ""

In [44]:
animals

['강아지', '', '물고기']

In [45]:
animals[0][0]

'강'

### Tuple = List와 동일하지만 Element 값이 변경이 될 수 없다.

In [46]:
width_and_height = (120, 240)

In [47]:
width_and_height

(120, 240)

In [48]:
width, height = width_and_height # 개수에 맞게 변수를 할당한다면 값이 각각 부여됨

In [49]:
width

120

In [50]:
height

240

### Set = 집합
- 집합은 순서가 없고, 안의 Element가 uniq 해야한다.

In [51]:
name_set = set(["조용환", "조용환", "김연호", "채홍준"])

In [52]:
name_set
# 중복된 이름은 빠짐

{'김연호', '조용환', '채홍준'}

In [53]:
name_list = ["조용환", "조용환", "조용환", "김연호", "김연호", "채홍준", "채홍준", "채홍준"]

In [54]:
name_list = list(set(name_list))
# 리스트를 셋으로 변경해 중복을 없애고 다시 리스트 형태로 바꿈

In [55]:
name_list

['조용환', '김연호', '채홍준']

### dict

In [56]:
detail_dict = {"name" : "조용환", "age" : 28, "phonenumber" : "010-9872-1722"}

In [57]:
detail_dict

{'age': 28, 'name': '조용환', 'phonenumber': '010-9872-1722'}

In [58]:
detail_dict["name"] # Dict, Hash, JSON = 키 밸류의 쌍을 모아놓은 것

'조용환'

### Boolean

In [59]:
1 > 3

False

In [60]:
1 < 3

True

In [61]:
True

True

In [62]:
False

False

In [63]:
True & True # AND

True

In [66]:
True | False # OR

True

In [65]:
False & True

False