In [1]:
# Lambda 함수 
# List comprehension

In [2]:
# 0-9 까지 제곱해주는 람다함수
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[i**2 for i in range(10) if i > 5]

[36, 49, 64, 81]

In [5]:
yh_list = [i for i in range(0, 10)]

In [6]:
yh_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(map(lambda x: x**2, filter(lambda x: x > 5, range(10))))

[36, 49, 64, 81]

In [9]:
list(a)

[36, 49, 64, 81]

In [12]:
# 1-100까지의 숫자 중에 짝수인 애들의 제곱

In [14]:
print([i**2 for i in range(1, 100+1) if i % 2 == 0])

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [16]:
# list comprehension 이용해서 소수 구하기 (1000까지)
# 소수가 아닌 애들 구하고 그걸 뺌

In [35]:
MAX = 1000

not_prime_list = [
    j
    for i in range(2, int(MAX**0.5) + 1) # 약수의 가능성이 있는 i => 2,3,4,... 31
    for j in range(i*2, MAX+1, i) # j => i=2 ; 4,6,8,
]

prime_list = [
    i
    for i in range(2, MAX+1)
    if i not in not_prime_list
]

In [36]:
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [29]:
[i for i in range(i*2,10,i)]

[1, 4, 7]

In [37]:
example_list = [
    (i, j)
    for i in range(4)
    for j in range(6)
]

example_list

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5)]

In [38]:
# 1 - 100
# 3의 배수 "python"
# 5의 배수 "study"
# 15의 배수 "pythonstudy"

In [44]:
result = []

for i in range(1, 100+1):
    word = ""
    if i % 3 == 0:
        word += "python"
    if i % 5 == 0:
        word += "study"
    result.append(word)

In [45]:
print(result)

['', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study']

In [46]:
# list comprehension

In [ ]:
# 3의 배수에 python을 넣는 리스트 하나
# 5의 배수에 study를 넣는 리스트 하나
# 그걸 붙이면 됨

In [48]:
python_list = [
    "python" if x % 3 == 0 else ""
    for x
    in range(1, 100+1)
]

study_list = [
    "study" if x % 5 == 0 else ""
    for x
    in range(1, 100+1)
]

In [53]:
print(python_list)

['', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '', '', 'python', '']

In [54]:
print(study_list)

['', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study', '', '', '', '', 'study']

In [55]:
plus_list = [
    python_list[i] + study_list[i]
    for i
    in range(100)
]

In [56]:
print(plus_list)

['', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study', '', 'python', '', '', 'pythonstudy', '', '', 'python', '', 'study', 'python', '', '', 'python', 'study']

In [68]:
something(40,2,"python",6,"study")

['',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python']

In [64]:
def something(count, first_number, first_word, second_number, second_word):
    python_list = [
        first_word if x % first_number == 0 else ""
        for x
        in range(1, count+1)
    ]

    study_list = [
        second_word if x % second_number == 0 else ""
        for x
        in range(1, count+1)
    ]

    return [
        python_list[i] + study_list[i]
        for i
        in range(count)
    ]

In [71]:
def somethings(count, first_number, first_word, second_number, second_word):
    result = []

    for i in range(1, count+1):
        word = ""
        if i % first_number == 0:
            word += first_word
        if i % second_number == 0:
            word += second_word
        result.append(word)
    return result

In [72]:
somethings(40,2,"python",6,"study")

['',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python',
 '',
 'pythonstudy',
 '',
 'python',
 '',
 'python']

In [73]:
# palindrome 회문
# 기러기 => 기러기
# is_palindrome 함수

In [74]:
# is_palindrome("기러기") = True
# is_palindrome("용환") = False

In [75]:
# 정의 => 문자열을 받아서 그걸 뒤집었을 때 같으면 True 다르면 False

In [87]:
def reverse(word):
    reversed_word = ""
    for i in range(len(word)):
        reversed_word += word[len(word)-1-i]
    return reversed_word

def is_palindrome(word):
    return word == reverse(word)

In [88]:
is_palindrome("기러기")

True

In [89]:
is_palindrome("하태준")

False

In [86]:
reverse("김대환")

'환대김'

In [76]:
word = "하태준이다"

In [83]:
word[len(word)-2-1]

'준'

In [94]:
"하태준조용환김대환"[::2]

'하준용김환'

In [95]:
"하태준조용환김대환"[::-1]

'환대김환용조준태하'

In [96]:
def reverse(word):
    return word[::-1]

def is_palindrome(word):
    return word == reverse(word)

In [99]:
is_palindrome("기러기")

True

In [100]:
is_palindrome("하태준")

False

In [98]:
def is_palindrome(word):
    return word == word[::-1]

In [103]:
(lambda x: x == x[::-1])("하태준")

False